//页面背景
$Page_bgColor:#fff;
$borderColor:#D8E0E6;
//公用颜色
$ListTitle_fontColor:#506470;
$ListText_fontColor:#6E7C8B;
$List_Row_bgColor:#F0F0F1;
$List_Row_hover_bgColor:#DDDFE4;
$Button_bgColor:#50ACEB;
$Button_fontColor:#FFFFFF;
$Tabs_bgColor:#F0F0F1;
$Tabs_hover_bgColor:#121E30;
$Tabs_active_bgColor:#121E30;
$Tabs_fontColor:#6E7C8B;
$Tabs_hover_fontColor:#FFFFFF;
$Tabs_active_fontColor:#FFFFFF;
$Table_fontColor:#6E7C8B;
$Table_bgColor:#6E7C8B;
//日常调度控制面板颜色
$Theme_bgColor:#24436F;
$Theme_bgColor2:#121E30;
$faceTitle_bgColor:#BE1C1A;
$face_fontColor:#F2D0D0;
$face_small_title_fontColor:#6E7C8B;
$face_tips_fontColor:#ACE932;
$face_tips_warn_fontColor:#F03A3A;
$time_bgColor:#00CDFF;
$time_fontColor:#202833;
$face_line_color :#242B45;
//水厂水泵表格
$Sc_table_normal_fontColor:#DDE7F0;
$Sc_table_warn_fontColor:#F03A3A;
$Sc_beng_fontColor:#202833;
$Sc_beng_Open_bgColor:#5F801D;
$Sc_beng_Open_bgDD_Color:#ACE932;
$Sc_beng_Close_bgColor:#414D5E;
$Sc_beng_Close_bgDD_Color:#A3B5CF;
$Sc_beng_border_Color:#1A212B;
//水厂曲线信息
$Title_second_fontColor:#ADB4BA;
$Title_second_content_fontColor:#6E7C8B;