$fontSize12:12px;
$fontSize14:14px;
$fontSize16:16px;
$fontSize18:18px;
$fontSize24:24px;
$fontSize32:32px;
$fontSize36:36px;
$fontSize48:48px;
$fontWeightBold:bold;
$fontWeightNormal:normal;
$fontStyleWYYH:"微软雅黑"；